.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#galeri {
  background-color: #e2edff;
}

footer {
  background-color: #00ffff;
  padding-top: 1;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

section {
  padding-top: 5rem;
}
